<ion-content>

  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/food-check-in">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>


  </div>

  <div class="card">
    <div class="image">
      <ion-img [src]="food.image"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{food.title}}</h1>
        <p class="ion-no-margin"><sup>TND</sup>{{food.price | number: '1.2'}}</p>
      </div>
    </div>

    <div class="about">
      <h1>Order content</h1>

      

      <div class="cart-item" *ngFor="let content of this.food.content; let index as i">
        <div class="image">
          <ion-img [src]="content.image"></ion-img>
        </div>
      
        <div class="description">
          <h3>{{content.name }}</h3>
          <p><sup>TND</sup> {{content.price }}</p>
        </div>
      
        <div class="description">
          <ion-buttons>
            <ion-button (click)="increaseQty(index, 1)">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-buttons>
      <div class="counter">{{ content.qty }}</div>
          <ion-buttons>
            <ion-button *ngIf="content.qty > 0" (click)="decreaseQty(index, -1)">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>

    <app-button (click)="addItemToCart()">Finish order</app-button>

  </div>
  

</ion-content>
