<ion-content>

  <div class="header">
    <ion-buttons>
      <ion-button routerLink="/home/food-check-in">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="d-heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </div>

  <div class="card">
    <div class="image">
      <ion-img [src]="food.image"></ion-img>
    </div>

    <div class="card-content">
      <div class="card-title">
        <h1 class="ion-no-margin">{{food.title}}</h1>
        <p class="ion-no-margin"><sup>TND</sup>{{food.price | number: '1.2'}}</p>
      </div>
    </div>



  </div>

</ion-content>
